<meta charset="utf-8">
<meta name="title" content="{{ .Title }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ .Description }}">
<meta name="robots" content="index,follow">
<meta name="theme-color" content="#921515">

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="/img/{{ .Params.image }}" />
<meta property="og:description" content="{{ .Description }}">
<meta property="og:site_name" content="The Online Centre for Religious Studies">
<meta property="og:locale" content="en_GB">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@_ocrs_">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Description }}">
<meta name="twitter:image" content="/img/{{ .Params.image }}">

<link rel="icon" type="image/png" href="/img/favicon.ico.png">

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" rel="stylesheet">

<title>{{ .Title }}</title>